.main-table{
    font-size: 1.2rem;
}

.tabs-container{
    font-size: 1.5rem;
    color: var(--white);
    margin: 0 auto 3rem;
    width: 80%;
}

.tabs{
    background-color: var(--primary-color);
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    overflow: hidden;
}

.tab{
    flex: 1;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

.tab.active{
    background-color: var(--white);
    color: var(--black);
}

.tab-content{
    display: none;
}

.tab-content.active{
    display: block;
}

tbody tr td span.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

tbody tr td span.pending-dot{
    background-color: #0275d8;
}

tbody tr td span.shipped-dot{
    background-color: #cd02d8;
}

tbody tr td span.awaiting-shipment-dot{
    background-color: #d80202;
}

tbody tr td span.completed-dot{
    background-color: #6dbd28;
}

tbody tr td span.cancelled-dot{
    background-color: #000000;
}
