.product-details-container{
    display: flex;
    align-items: center;
}

.product-img-container{
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.product-img-container img{
    width: 100%;
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #F5F5F5;
}

.product-details{
    flex: 1;
}

.product-details .product-title,
.productid-container .id-number,
.date-added-container .date-added{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-details .product-span,
.productid-container .productid-date,
.date-added-container .time-added
{
    font-size: 1.3rem;
    color: #d0d0d0;
}

.store-name,
.in-stock{
  font-size: 1.5rem;
  color: var(--primary-color);
}