/* < 1800px */ 
@media only screen and (max-width: 112.5em){ 
    .hero-container{
        width: 1000px;
    }

    .available-good, .top-category{
        flex: 0 0 23%;
    }

    .available-good figure img{
        height: 350px;
    }

    .top-category figure img{
        height: 250px;
    }

    .owner-message-container{
        justify-content: center;
    }

    .owner-message-textbox{
        margin-right: 100px;
        align-self: center;
    }

    .cart-menu{
        width: 500px;
    }
} 

/* < 1400px */
@media only screen and (max-width: 87.5em){
    .hero-container{
        width: 80%;
    }

    .available-good figure img{
        height: 250px;
    }

    .top-category figure img{
        height: 150px;
    }

    .hero-text-box{
        font-size: 2rem;
    }

    .filter-container{
        max-width: 700px;
    }
}

/* < 1200px */
@media only screen and (max-width: 75em){ 
    .product-section-container{
        padding: 0 3rem;
    }

    .product-slider{
        width: 500px;
    }
}

/* < 1040px */
@media only screen and (max-width: 65em){ 
    .circle{
        right: -50px;
        bottom: -100px;
    }

    .banner-section{
        padding: 0 4rem;
    }

    .available-good, .top-category{
        flex: 0 0 31%;
    }

    .banner-img-container{
        margin-right: 20px;
    }

    .product-section-container{
        display: block;
    }

    .product-slider-container{
        width: 500px;
        margin: 0 auto 100px;
    }

    .product-image-slider-container.view-2{
        transform: translateX(calc((-500px * 1) + 10px));
    }
    
    .product-image-slider-container.view-3{
        transform: translateX(calc((-500px * 2) + 10px));
    }
    
    .product-image-slider-container img{
        flex: 0 0 500px;
    }

    .product-slider{
        width: 100%;
    }

    .product-info{
        padding: 0 2rem;
    }

    .product-name::after{
        width: 80px;
    }
}

/* < 1000px */
@media only screen and (max-width: 62.5em){ 
    .menu-container a i{
        display: block;
        text-align: center;
    }
}

/* < 900px */ 
@media only screen and (max-width: 56.25em){
    .navigation-menu{
        flex: 0 0 400px
    }

    .nav-link-item a{
        font-size: 1.2rem;
    }

    .nav-link-item span{
        font-size: 1.2rem;
    }

    .services-title{
        width: 60%;
    }

    .sub-title{
        font-size: 3rem;
    }

    .service.left .service-text, .service.right .service-text{
        font-size: 2rem;
    }

    .text-box-title{
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .search-btn-container{
        flex: 0 0 60px;
        margin-right: 10px;
    }

    .labels span:nth-of-type(1){
        flex: 0 0 245px;
    }

    .cart-item .product-info{
        flex: 0 0 245px;
    }
} 

/* < 750px */ 
@media only screen and (max-width: 46.875em){ 
    .bottom-header{
        width: 100%;
        padding: 2rem 1rem 0;
    }

    .available-good, .top-category{
        flex: 0 0 45%;
    }

    .product-category div span{
        font-size: 1rem;
    }

    .product-category div{
        width: 100%;
    }
    
    .banner-section-container, .owner-message-container{
        flex-direction: column;
    }

    .banner-img-container{
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .banner-img-container img{
        display: block;
        margin: 0px auto;
    }

    .banner-text-box,
    .owner-image-container,
    .owner-message-textbox{
        text-align: center;
        margin-bottom: 70px;
    }

    .owner-message-textbox{
        order: 1;
        margin-right: 0px;
    }

    .owner-image-wrapper{
        margin: 0 auto;
    }

    .order-container{
        display: block;
    }

    .product-info-container{
        margin: 50px 0;
    }

    .user-details{
        border: none;
    }

    .quick-link a img{
        width: 150px;
        height: 150px;
    }

    .labels{
        display: none;
    }

    .cart-items .cart-item{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .cart-items .cart-item{
        padding: 4rem 3rem;
    }

    .cart-item div:not(:last-child){
        margin-bottom: 30px;
    }

    .cart-item > div::before{
        content: attr(data-label) ": ";
        color: var(--primary-color);
        margin-right: 20px;
        font-size: 2rem;
    }

    .cart-item div:nth-child(1)::before{
        align-self: center;
    }

    .cart-item .product-info{
        flex: initial;
    }

    .cart-action-btn-container{
        flex-flow: row wrap;
    }

    .cart-action-btn-container div:nth-of-type(1){
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    .cart-action-btn-container div:nth-of-type(1) .btn{
        justify-content: center;
    }

} 

/* < 665px */ 
@media only screen and (max-width: 41.5625em){ 
    .top-header{
        display: block;
    }

    .logo-container{
        display: block;
        width: 100px;
    }

    .navigation-menu{
        width: 85%;
        margin: 18px auto 0px;
    }

    .bottom-header{
        margin: 0;
        flex-wrap: wrap;
    }

    .categories-btn-container{
        order: 0;
    }

    .other-links-container{
        order: 0;
    }

    .search-container{
        flex: 0 0 90%;
        order: 1;
        margin: 15px auto 0;
    }

    .search-box input{
        flex: 0 0 80%;
    }
    
    .search-box input{
        padding: 15px 5px;
    }

    .hero-container{
        width: 90%;
    }

    .available-goods-text-box, .top-categories-text-box, .our-brands-text-box{
        margin-left: 10px;
    }

    .services-offered{
        text-align: left !important;
    }

    .service-text{
        width: 100% !important;
    }

    .service.right{
        text-align: left;
    }

    .services-title{
        width: 80%;
        font-size: 5rem;
    }

    .form-container{
        width: 100%;
    }

    .success-title{
        font-size: 2.5rem;
    }
} 

/* < 610px */
@media only screen and (max-width: 38.125em){ 
    .quick-link{
        flex-flow: row wrap;
    }

    .quick-link span{
        flex: 0 0 100%;
        margin-bottom: 40px;
    }

    .quick-link a img{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 37.5em){  } /* < 600px */

/* < 580px */ 
@media only screen and (max-width: 36.25em){ 
    .navigation-menu{
        width: 95%;
    }

    .hero-text-box{
        font-size: 2.5rem;
    }
    .hero-img-container{
        flex: 0 0 65%;
    }
    .services-title{
        width: 70%;
        font-size: 4rem;
    }

    .footer-row{
        display: block;
    }

    .footer-group.call-container{
        margin-top: 40px;
        width: 250px
    }

    .form-section{
        padding: 4rem 2rem; 
    }

    .product-slider-container{
        width: 80%;
    }

    .product-info-container{
        margin: 30px 0;
    }

    .product-image-container{
        width: 100%;
        height: auto;
    }

    .product-image-container img{
        max-width: 100%;
        height: auto;
    }

    .filter-container{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .filter-text{
        margin-bottom: 10px;
    }

    .filter-select-container:not(:last-child){
        margin-bottom: 15px;
    }

    .results-container{
        margin-top: 20px;
    }

    .search-btn-container{
        display: none;
    }

    .input-container{
        flex: 0 0 70%;
    }

    .input-container button{
        display: initial;
    }

    .quick-links-container{
        margin-top: 50px;
    }

    .quick-link a img{
        width: 180px;
        height: 180px;
    }

    .scroll-container{
        margin: 2rem 0;
    }

    .scroll-image{
        flex: 0 0 17%;
    }

    .product-image-slider-container.view-2 {
        transform: translateX(calc((-106% * 1) + 10px));
    }

    .product-image-slider-container.view-3 {
        transform: translateX(calc((-106% * 2) + 10px));
    }

    .cart-menu{
        width: 400px;
    }

    .payment-plan-container{
        max-width: 500px;
    }

    .payment-plans #required-radio-container > label{
        flex: 0 0 100%;
    }
}

/* < 500px */ 
@media only screen and (max-width: 31.25em){ 
    .logo-container{
        margin-bottom: 10px;
    }

    .nav-link-item{
        justify-content: center;
    }

    .nav-link-item img{
        width: 30px;
        height: 30px;
    }

    .nav-link-item.cart-link a .cart-badge{
        top: -5px;
        right: -15px;
    }

    .categories-btn-container button{
        padding: 1rem 2rem;
    }

    .other-links-container .installment-btn{
        padding: 1rem 2rem;
    }

    .hero-container{
        flex-direction: column;
    }

    .hero-logo-container{
        text-align: initial;
        order: 0;
    }

    .hero-logo-container img{
        width: 120px;
        height: 100%;
    }

    .hero-text-box{
        order: 2;
    }

    .hero-img-container{
        order: 1;
    }

    .available-goods, .top-categories{
        display: block;
    }

    .available-good, .top-category{
        max-width: 300px;
        margin: 0 auto 50px;
    }

    .top-category{
        display: block;
    }

    .available-good{
        display: flex;
    }

    .view-all-container a{
        width: 50%;
    }

    .owner-message-container{
        padding: 10rem 4rem;
    }

    .form-title{
        font-size: 3rem;
    }

    .form-text{
        font-size: 1.5rem;
    }

    .submit-btn-container button{
        width: 150px;
    }

    .product-slider-container{
        width: 100%;
        margin-bottom: 50px;
    }

    .success-container{
        flex: 0 0 90%;
    }

    .quick-link a img{
        width: 140px;
        height: 140px;
    }

    .buy-options-container button:not(:last-child){
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .buy-options-container button{
        width: 100%;
    }

    .cart-action-btn-container div:last-child{
        flex: 0 0 100%;
    }

    .cart-menu-items .cart-menu-item .cart-product-details .cart-product-name{
        font-size: 1.2rem;
    }

    .cart-menu-items .cart-menu-item .cart-product-details .cart-item-meta{
        font-size: 1.2rem;
    }

    .cart-action-btn-container div:last-child a,
    .cart-action-btn-container div:last-child button{
        width: 100%;
    }

    .cart-action-btn-container div:last-child a{
        margin-bottom: 20px;
    }

    .payment-plans label{
        gap: 15px;
    }

    .cart-menu{
        width: 300px;
    }

    .product .product-image-container{
        width: 100px;
        height: 100px;
    }

    .payment-plan-container .savings-product-image-container{
        flex: 0 0 100px;
    }
}

/* < 400px */
@media only screen and (max-width: 25em){   
    .logo-text .title + span{
        font-size: 1rem;
    }

    .nav-link-item a{
        padding: 1rem;
    }

    .nav-link-item.cart-link a .cart-badge{
        width: 10px;
        height: 10px;
        top: -8px;
        font-size: .8rem;
    }

    .search-box input{
        padding: 10px 5px;
        flex: 0 0 80%;
    }

    .owner-image-container{
        margin-bottom: 10px;
    }

    .owner-image-wrapper{
        width: 200px;
        height: 200px;
    }

    .form-logo-container{
        flex: 0 0 180px;
    }

    .form-logo-img-container{
        flex: 0 0 40px;
    }

    .form-group.animate label{
        font-size: 2rem;
        top: 2.5rem;
    }

    .menu-container .menu{
        top: 20px;
        width: 80px;
    }

    .input-container{
        flex: 0 0 65%;
    }

    .quick-link a{
        flex: 0 0 45%;
    }

    .quick-link a img{
        width: 100px;
        height: 100px;
    }

    .product-images{
        width: 90%;
    }

    .cart-item div:nth-child(1){
        flex-flow: row wrap;
    }

    .cart-item .product-info{
        flex: 0 0 100%;
    }

    .cart-item div:nth-child(1)::before{
        flex: 0 0 100%;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    figcaption .payment-plans .product-badge{
        font-size: 1.2rem;
    }

    .payment-plan-container{
        max-width: 350px;
        margin: 0 30px;
    }

    .product-category-name{
        font-size: 2rem;
    }

    .product-category-price{
        font-size: 2.5rem;
    }

    .cart-menu{
        width: 250px;
    }

    .cart-menu-items .cart-menu-item .cart-menu-item-image-container{
        flex: 0 0 70px;
    }

    .cart-action-section > span{
        margin-bottom: 30px;
    }
}


@media only screen and (min-width: 112.5em){
    .hero-container{
        width: 1000px;
    }
    
    .navigation-menu{
        flex: 0 0 700px;
    }

    .start-saving-button-container button{
        width: 250px;
    }

    .available-good, .top-category{
        flex: 0 0 21%;
    }

    .available-good figure img{
        height: 400px;
    }

    .top-category figure img{
        height: 250px;
    }

    .hero-text-box{
        font-size: 2rem;
    }

    .product-section-container{
        width: 1600px;
        margin: 0 auto;
    }
    
    .form-logo-container{
        flex: 0 0 400px;
    }

    .form-logo-img-container{
        flex: 0 0 100px;
    }

    .form-group.animate label{
        top: 1rem;
    }

    .cart-menu{
        width: 500px;
    }

    .available-goods.paginate{
        grid-template-columns: repeat(4, 1fr);
    }

    .menu-container.allproducts-menu-container .menu {
        top: 60px;
        left: -10px;
        z-index: 20;
    }

    .filter-container{
        max-width: 900px;
    }
}


 