body{
    height: 100vh;
}

header{
    height: 100px;
    display: flex;
    padding: 0 4rem;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    border-bottom: 1px solid #ededed;
}

.header-title-container{
    font-size: 1.5rem;
}

.cancel-container{
    font-size: 3rem;
}

.cancel-container a{
    color: var(--primary-color);
    text-decoration: none;
}

.order-container{
    display: flex;
    gap: 15px;
}

.product-info-container{
    flex: 1;
    padding: 4rem 2rem;
}

.products{
    height: 100%;
    overflow: auto;
}

.product{
    display: flex;
    gap: 20px;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.product:not(:last-child){
    margin-bottom: 30px;
}

.product .product-image-container{
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.product .product-image-container img{
    width: 100%;
}

.product .order-information{
    flex: 1;
    align-self: center;
}

.desc{
    font-size: 1.5rem;
}

.order-information span{
    display: block;
}

.order-information span:not(:last-child){
    margin-bottom: 20px;
}

.product-quantity,
.product-price-single{
    font-size: 1.8rem;
    font-weight: 600;
}

.product-name{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.user-details{
    flex: 1;
    padding: 3rem 2rem;
    border-left: 1px solid #ededed;
}

.info-card{
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 30px;
}

.info-card .card-title{
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.info-card .card-body{
    margin-top: 10px;
}

.info-card .card-body p{
    font-size: 1.4rem;
}

.info-card .card-body p:not(:last-child){
    margin-bottom: 10px;
}

.card-body p i{
    color: var(--primary-color);
    margin-right: 5px;
}

.sum-container{
    padding: 1.5rem;
    border-bottom: 2px solid #ededed;
}

.sum-container p{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.sum-container p:not(:last-child){
    margin-bottom: 20px;
}

.sum-container p .title{
    color: var(--primary-color);
}

.order-btn-container{
    padding: 3rem 0 0;
    margin-top: 10px;
    text-align: end;
}

.order-btn-container button{
    appearance: button;
    background-color: var(--primary-color);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transition: all .3s ease-in;
}

.order-btn-container button:hover {
    background-color: var(--black);
}
  
.order-btn-container button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.order-btn-container button:disabled{
    opacity: 0.7;   
}

.order-btn-container button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

.order-btn-container button i{
    margin-right: 10px;
}

.full-loader{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3e9;
    z-index: 200;
  }

  .full-loader.active{
    display: flex;
    animation: fadeIn .5s linear;
  }

  .spinner {
    border: 10px solid #f0f0f0;
    border-top: 10px solid var(--primary-color); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes fadeIn {
    from {opacity: 0; }
    to { opacity: 1;}
  }