@keyframes first-element-scroll {
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}

@keyframes second-element-scroll {
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

header{
    margin: 0 auto;
    width: 90%;
    padding: 2rem 0; 
}

.top-header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.logo-container{
    text-decoration: none;
    display: flex;
    flex: 0 0 30%;
}

.logo-image-container{
    flex: 0 0 80px;
    align-self: center;
}

.logo-image-container img{
    width: 100%;
    height: 100%;
}

.logo-text{
    align-self: center;
    flex: 1;
    font-weight: bold;
    color: var(--primary-color);
    margin-left: 5px;
}

.logo-text .title{
    font-size: 1.2rem;
    display: block;
    text-transform: uppercase;
}

.logo-text .title + span{
    font-size: 0.8rem;
}

.navigation-menu{
    flex: 0 0 450px;
    display: flex;
    align-items: center;
}

.nav-links{
    flex: 1;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-link-item{
    display: flex;
    align-items: center;
}

.nav-link-item a i{
    font-size: 1.2rem;
    margin-right: 5px;
}

.nav-link-item a{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .3s ease-in;
}

.nav-link-item a:hover{
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 20px;
}

.nav-link-item.cart-link a:hover .cart-badge{
    background-color: var(--white);
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}

.nav-link-item.cart-link{
    position: relative;
}

.nav-link-item.cart-link a .cart-badge{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--white);
    top: -5px;
    right: -5px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in;
}

.dark-mode-container{
    height: 100%;;
    display: flex;
    align-items: center;
}

.nav-link-item span{
    font-size: 1.4rem;
    margin-right: 10px;
    align-self: center; 
    letter-spacing: 1px;
    color: var(--primary-color);
    font-weight: 500;
}

.nav-link-item img{
    cursor: pointer;
}

.bottom-header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid var(--grey);
    padding: 2rem 2rem 0;
}

.categories-btn-container{
    align-self: center;
}

.categories-btn-container button{
    padding: 1.5rem 3rem;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 10px;
}

.search-container{
    margin-left: 30px;
    flex: 0 0 60%;
}

.search-box{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.search-box input{
    flex: 0 0 90%;
    padding: 5px 10px; 
    border: none;
}

.search-box input:focus{
    outline: none;
}

.search-icon-btn{
    font-size: 1.5rem;
    flex: 1;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    transition: all .3s ease-in;
}

.search-icon-btn:hover{
    background-color: var(--secondary-color);
    color: var(--white);
}

.other-links-container{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.other-links-container .installment-btn{
    padding: 1.5rem 3rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
    margin-right: 20px;
}

.menu-container{
    position: relative;
}

.other-links-container .menu-container a{
    color: var(--primary-color);
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 1px;
}


.other-links-container .menu-container a:focus,
.other-links-container .menu-container a:hover
{
    color: var(--primary-color);
}

.menu-container .menu{
    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    width: 120px;
    list-style-type: none;
    background-color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    z-index: 20;
    border: 1px solid var(--primary-color);
}

.menu-container .menu::after{
    content: "";
    position: absolute;
    top: -5.5px;
    left: 50%;
    width: 10px;
    height: 10px;
    z-index: 0;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    transform: translateX(-50%) rotateZ(45deg);
    background-color: var(--white);
}

.menu-container .menu li:not(:last-child){
    border-bottom: 2px solid #d0d0d0;
}

.menu-container .menu li a{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    height: 100%;
}

.menu-container .menu.active{
    display: block;
}

.categories-container{
    width: 80%;
    margin: 20px auto 0;
}

.product-category div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product-category div span{
    font-size: 1.2rem;
    color: var(--grey);
    margin-bottom: 20px;
}

.product-category div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hero-section{
    margin: 70px 0;
}

.hero-container{
    border: 1px solid var(--secondary-color);
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 1rem 3rem;
    border-radius: 10px;
}

.hero-text-box{
    flex: 0 0 20%;
    align-self: center;
    font-size: 3rem;
}

.hero-text-box span{
    color: var(--primary-color);
    font-weight: bold;
}

.hero-img-container{
    flex: 0 0 70%;
    text-align: center;
}

.hero-img-container img{
    width: 100%;
    height: 100%;
}

.hero-logo-container{
    flex: 1;
    text-align: right;
}

.hero-logo-container img{
    width: 100%;
}

.available-goods-section{
    margin: 60px 0;
}

.available-goods-container{
    padding: 0 4rem;
}

.available-goods-text-box{
    margin-left: 50px;
}

.available-goods-title{
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.available-goods-text{
    font-size: 1.5rem;
}

.available-goods{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.available-good{
    flex: 0 0 22%;
    margin-bottom: 30px;
    text-decoration: none;
    color: var(--black);
}

.available-good a{
    display: block;
    text-decoration: none;
}

.available-good figure{
    position: relative;
}

.available-good figure img{
    height: 250px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.available-good figure .product-badge{
    position: absolute;
    width: fit-content;
    padding: 0.5em 1em;
    font-size: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.available-good figure .product-badge.half{
    top: 10px;
    right: -15px;
}

.available-good figure .product-badge.month{
    top: 40px;
    right: -20px;
}

figcaption{
    font-size: 1.5rem;
    font-weight: 500;
}

.product-desc{
    display: block;
    text-align: center;
}

.product-desc:not(:last-child){
    margin-bottom: 10px;
}

.product-category-name{
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
}

.product-category-price{
    color: var(--secondary-color);
    font-size: 2rem;
}

.add-to-cart-btn{
    margin-top: 10px;
    text-align: center;
}

.add-to-cart-btn button{
  appearance: button;
  background-color: var(--primary-color);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: background-color .3s ease-in;
}

.add-to-cart-btn button:hover {
  background-color: var(--black);
}

.add-to-cart-btn button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.add-to-cart-btn button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* @media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
} */

.view-all-container{
    margin-top: 20px;
    text-align: center;
}

.view-all-container a{
    display: inline-block;
    padding: 1.5rem 3rem;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    font-size: 2rem;
    color: var(--primary-color);
    border-radius: 10px;
    width: 25%;
}

.services-section{
    margin: 60px 0;
    padding: 0 9rem;
}

.services-title{
    width: 40%;
}

.service.left .service-text,
.service.right .service-text{
    width: 50%;
    font-size: 2.5rem;
}

.service{
    padding: 2rem;
}

.service.right{
    text-align: right;
}

.service.right .service-text{
    width: 50%;
    margin-left: auto;
}

.banner-section{
    margin: 60px 0;
    padding: 0 9rem;
}

.banner-section-container{
    position: relative;
    overflow: hidden;
    background: radial-gradient(80px, var(--primary-color), var(--secondary-color));
    padding: 2rem 3rem;
    display: flex;
}


.banner-img-container{
    flex: 0 0 40%;
    margin-right: 40px;
}

.banner-img-container img{
    width: 100%;
    height: 100%;
}

.banner-text-box-container{
    flex: 1;
}

.banner-text-box{
    padding: 2rem;
    color: var(--white);
}

.text-box-title{
    font-size: 4rem;
    margin-bottom: 20px;
}

.banner-text{
    font-size: 2rem;
}

.banner-btn-container{
    margin-top: 30px;
}

.banner-btn-container a{
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid var(--white);
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
    border-radius: 10px;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid var(--white);
    position: absolute;
    background-color: var(--secondary-color);
    right: -30px;
    bottom: -50px;
}

.top-categories-section{
    margin: 60px 0;
}

.top-categories-container{
    padding: 0 4rem;
}

.top-categories-text-box{
    margin-left: 50px;
}

.top-categories-title{
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.top-categories-text{
    font-size: 1.5rem;
}

.top-categories{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.top-category{
    flex: 0 0 22%;
    margin-bottom: 30px;
    text-decoration: none;
    color: var(--black);
    transition: all .3s ease-in;
}

.top-category figure img{
    height: 150px;
    display: block;
    width: 100%;
    border-radius: 20px;
}

.top-categories figure figcaption{
    padding-top: 40px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-top: -20px;
    height: 80px;
    transition: all .3s ease-in;
}

.top-category:hover figcaption{
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    background-color: var(--primary-color);
    color: var(--white);
}


.our-brands-section{
    margin: 60px 0;
}

.our-brands-container{
    padding: 0 4rem;
}

.our-brands-text-box{
    margin-left: 50px;
}


.our-brands-title{
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.our-brands-text{
    font-size: 1.5rem;
}


.scroll-container{
    padding: 2rem 0;
    position: relative;
    width: 100%;
    height: 20rem;
    overflow-x: hidden;
}

.scroll-element{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0px;
    top: 0px;
}

.scroll-image{
    flex: 0 0 10%;
}

.scroll-image img{
    width: 100%;
    height: 100%;
}

.scroll-element-first{
    animation: first-element-scroll 15s linear infinite;
}

.scroll-element-second{
    animation: second-element-scroll 15s linear infinite;
}

.footer-container{
    width: 95%;
    border-top: 2px solid #d0d0d0;
    padding: 4rem 0;
    margin: 0 auto;
}

.footer-row{
    display: flex;
    justify-content: space-between;
}

.footer-group-container{
    flex: 0 0 60%;
}

.footer-group.call-container{
    flex: 0 0 30%;
}

.footer-logo-container{
    display: flex;
    margin-bottom: 20px;
}

.footer-logo-container .footer-logo-image-container{
    flex: 0 0 100px;
    margin-right: 10px;
}

.footer-logo-container .footer-logo-image-container img{
    max-width: 100%;
    height: 100%;
}

.footer-logo-text{
    align-self: center;
    color: var(--primary-color);
    flex: 1;
}

.footer-logo-text .logo-title{
    font-size: 2rem;
    display: block;
    font-weight: 800;
}

.footer-logo-text .logo-title + span{
    font-size: 1.5rem;
}

.footer-message{
    font-size: 1.5rem;
    color: var(--grey);
}


.call-center-container{
    display: flex;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    color: var(--white);
}

.call-center-textbox{
    flex: 0 0 80%;
    margin-right: 10px;
    font-size: 2rem;
}

.call-center-text{
    display: block;
    margin-bottom: 10px;
}

.call-center-no{
    text-decoration: none;
    color: var(--white);
}

.tel-icon-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.social-media-links{
    margin-top: 20px;
    list-style-type: none;
}

.social-media-links li{
    display: inline-block;
    font-size: 3rem;
    color: var(--secondary-color);
}

.social-media-links li:not(:last-child){
    margin-right: 15px;
}

.social-media-links li a{
    color: var(--secondary-color);
}


.copyright-message{
    margin-top: 30px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.copyright-message div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.copyright-message span{
    margin-left: 10px;
}
