.product-section{
    margin: 70px 0;
}

.product-section-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
}

.product-slider-container{
    flex: 0 0 400px;
    align-self: flex-start;
}

.product-image-container{
    width: 100%;
    height: 400px;
    padding: 0.8rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
}

.product-image-slider-container{
    display: flex;
    gap: 10px;
    height: 100%;
    transition: transform .5s ease-in;
}

.product-image-slider-container.view-2{
    transform: translateX(calc((-400px * 1) + 10px));
}

.product-image-slider-container.view-3{
    transform: translateX(calc((-400px * 2) + 10px));
}

.product-image-slider-container img{
    flex: 0 0 400px;
}

.product-image-container img{
    max-width: 100%;
    height: 100%;
}

.product-images{
    width: 80%;
    margin: 30px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-images img{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 20px;
}

.product-info{
    flex: 1;
}

.breadcrumbs{
    margin-bottom: 10px;
    color: #777;
    font-size: 1.4rem;
}

.breadcrumbs a{
    text-decoration: none;
    color: inherit;
    transition: all .3s linear;
}

.breadcrumbs a:hover{
    color: var(--primary-color);
}

.product-name{
    font-size: 3rem;
    padding: 2rem 0;
    position: relative;
    margin-bottom: 20px;
    font-weight: normal;
}

.product-name::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: linear-gradient(30deg, var(--primary-color), var(--secondary-color));
    border-radius: 10px;
    bottom: 10px;
    left: 0px;
}

.product-info-stock-and-store{
    margin: 30px 0;
    font-size: 1.5rem;
    padding: 0px 10px 10px;
    width: 90%;
    border-bottom: 1px solid var(--primary-color);
}

.product-info-stock-and-store ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.product-info-stock-and-store ul li{
    display: flex;
    align-items: center;
}

.product-info-stock-and-store ul li:not(:last-child)::after{
    content: "|";
    margin: 0px 20px;
    color: var(--primary-color);
}

.product-info-stock-and-store ul li span.key{
    color: var(--primary-color);
    margin-right: 10px;
}





.product-info-group.price .product-value{
    font-size: 3rem;
    color: var(--primary-color);
}

.product-info-group:not(:last-child){
    margin-bottom: 20px;
}

.product-info-group{
    font-size: 2rem;
}

.product-info-group.amount-block{
    display: flex;
    align-items: center;
}

.product-info-group .product-label{
    margin-right: 10px;
}

.product-info-group.amount-block .product-label{
    margin-right: 20px;
}

.product-info-group input{
    border: 1px solid var(--primary-color);
    background-color: #EEEEEE;
    padding: 1rem 0.5rem; 
    width: 50px;
}

.product-badge{
    width: fit-content;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-badge:not(:last-child){
    margin-bottom: 10px;
}

.product-details{
    margin: 40px 0;
}

.product-details > *{
    margin: revert;
    padding: revert;
    font-family: 'Inter', sans-serif;
}

.product-label{
    margin-right: 30px;
    color: var(--primary-color);
}

.start-saving-button-container{
    margin-top: 40px;
}

.start-saving-button-container button{
    width: 200px;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.start-saving-button-container .buy-now-btn{
    margin-bottom: 10px;
}

.buy-options-container button:not(:last-child){
    margin-right: 20px;
}

.buy-options-container button{
    appearance: button;
    background-color: var(--primary-color);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transition: background-color .3s ease-in;
}

.cart-action-btn-container div .btn:hover {
    background-color: var(--black);
}
  
.cart-action-btn-container div .btn:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.cart-action-btn-container div .btn:disabled{
    opacity: 0.7;   
}

.cart-action-btn-container div .btn:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

.out-of-stock-container{
    margin: 20px 0;
    color: red;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.out-of-stock-container.center{
    justify-content: center;
}

.out-of-stock-container .dot.red{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: inline-block;
    background-color: red;
    vertical-align: bottom;
    border-radius: 50%;
}

.buy-options-container button:hover {
    background-color: var(--black);
}
  
.buy-options-container button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}
  
.buy-options-container button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

.related-products-section{
    margin: 70px 0 30px;
}

.related-products-container{
    padding: 0 2rem;
    background: radial-gradient(500px, var(--secondary-color), var(--primary-color));
}

.related-products-container h2{
    font-size: 3rem;
    margin-left: 40px;
    padding: 2rem 0 0;
    color: var(--white);
    margin-bottom: 30px;
}

.products{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.product-card{
    flex: 0 0 23%;
    margin-bottom: 50px;
    text-decoration: none;
    color: var(--black);
}

.product-card a{
    display: block;
    text-decoration: none;
}

.product-card figure img{
    display: block;
    width: 100%;
    width: 200px;
    margin: 0 auto;
    height: 170px;
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

figcaption{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

figcaption .payment-plans{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

figcaption .payment-plans .product-badge{
    width: fit-content;
    padding: 0.5em 1em;
    margin-bottom: 10px;
    font-size: 1.3rem;
    background-color: var(--white);
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* figcaption .payment-plans .product-badge.daily{
    top: 5px;
}

figcaption .payment-plans .product-badge.weekly{
    top: 32px;
}

figcaption .payment-plans .product-badge.month{
    top: 60px;
} */


.product-desc{
    text-align: center;
    display: block;
}

.product-desc:not(:last-child){
    margin-bottom: 10px;
}

.product-category-name{
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
}

.product-category-price{
    color: var(--white);
    font-size: 2rem;
}

.product-card .add-to-cart-btn{
    text-align: center;
}