.search-result-header{
    margin-top: 20px;
    height: 40vh;
    box-shadow: 0px 10px 10px rgba(0,0,0,.24);
}

.info-container{
    width: 90%;
    margin: 50px auto;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.search-result-heading{
    color: var(--white);
    font-size: 2.5rem;
}

.search-result-section{
    margin: 60px 0;
}

.search-result-container{
    padding: 0 3rem; 
}


.no-result-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-weight: bold;
    font-size: 2rem;
}

figcaption .payment-plans .product-badge{
    font-size: 1.2rem;
}


.available-goods{
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}

.available-good{
    /* flex: 0 0 31%; */
    margin-bottom: 30px;
    text-decoration: none;
    color: var(--black);
}

.available-good figure img{
    width: 100%;
    height: 250px;
    display: block;
    margin-bottom: 10px;
}

.available-good figure figcaption{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: auto;
}

.product-desc{
    display: block;
}

.product-desc:not(:last-child){
    margin-bottom: 5px;
}

.product-category-duration{
    color: var(--secondary-color);
}

.product-category-price{
    font-size: 2rem;
    color: var(--secondary-color);
    margin-top: 10px;
}

.paginate-pagination ul > li > a.page{
    font-size: 16px;
}