.order-container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 0 20px;
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.order-container:not(:last-child){
    margin-bottom: 30px;
}

.product-images-container{
    flex: 0 0 150px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-images-container img{
    width: 48%;
}

.product-info{
    align-self: center;
}

.additional-products-count{
    margin-top: 5px;
    width: 100%;
    background-color: #f2eeef;
    color: var(--primary-color);
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-id{
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in;
}

.order-id:hover{
    text-decoration: underline;
    color: var(--primary-color);
}

.order-meta-details{
    margin-top: 10px;
}

.status-badge{
    display: inline-block;
    text-align: center;
    line-height: 15px;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.status-badge.pending{
    background-color: #0275d8;
}

.status-badge.shipped{
    background-color: #cd02d8;
}

.status-badge.awaiting-shipment{
    background-color: #d80202;
}

.status-badge.completed{
    background-color: #6dbd28;
}

.status-badge.cancelled{
    background-color: #000000;
}

.order-date{
    display: block;
    font-weight: 800;
    font-size: 1.4rem;
}

.order-price-container{
    margin-left: auto;
    align-self: center;
    font-size: 15px;
    color: var(--primary-color);
}
