.dashboard-main-title{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.tabs-container{
    display: flex;
    margin: 20px;
}

.tabs-container .tab-link-container{
    flex: 1;
}

.tabs-container .tab-link-container a{
    display: block;
    padding: 1.5rem 1rem;
    color: var(--grey);
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px solid var(--grey);
    text-decoration: none;
    cursor: pointer;
}

.tabs-container .tab-link-container a.active{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    cursor: auto;
}

table{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #F5F5F5;
}


thead{
    padding: 1rem 0.5rem;
    background-color: #fdeee7;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: lighter;
}

table.dataTable tbody th, table.dataTable tbody td{
    padding: 2rem;
    font-size: 1rem;
}

table.dataTable tbody td .item-name-container{
    display: flex;
    align-items: center;
}

table.dataTable tbody td i{
    font-size: 1.5rem;
    margin-right: 5px;
    color: var(--primary-color);
}

table.dataTable tbody td .action-container{
    display: flex;
    align-items: center;
}

table.dataTable tbody td .action-container button{
    padding: 12px 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

.details-btn{
    color: var(--primary-color);
    background-color: #fdeee7;
    margin-right: 10px;
}

td{
    border-bottom: 2px solid #F5F5F5;
}

.dataTables_wrapper .dataTables_length{
    display: none;
}

.dataTables_wrapper .dataTables_filter{
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_info{
    padding-top: 30px;
}

.dataTables_wrapper .dataTables_paginate{
    padding-top: 20px;
}

.view-btn-container{
    margin-top: 20px;
    text-align: end;
}

.view-btn-container button{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    margin-right: 2rem;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
}